.rebar3
_build
_checkouts
_vendor
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
.idea
*.iml
rebar3.crashdump
*~
/data/mnesia/
/data/configs/app.*.config
/data/configs/cluster.hocon.*.bak
/data/configs/vm.*.args
/data/cluster.uuid
/pgdata/
/data/node.uuid
