{erl_opts, [debug_info, {d, 'BUILD_WITHOUT_QUIC'}]}.
{deps, [
    {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "1.11.0"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.11.0"}}},
    {hackney, {git, "https://github.com/benoitc/hackney", {tag, "1.20.1"}}},
    {jsone, {git, "https://github.com/sile/jsone", {tag, "1.8.1"}}},
    {epgsql, {git, "https://github.com/epgsql/epgsql", {tag, "4.7.1"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [mqttmud]}
]}.

{project_plugins, [erlfmt]}.
{erlfmt, [write]}.

{relx, [
    {release, {mqttmud, "0.1.0"}, [mqttmud]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"},
    {overlay, [
        {template, "config/sys.config", "releases/{{release_version}}/sys.config"},
        {template, "config/vm.args", "releases/{{release_version}}/vm.args"}
    ]}
]}.
