/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px; /* Make the masthead heading the same height as the navigation */
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .chat-history {
    border-bottom: 0;
  }
}

.chat-history {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ced4da;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
}

.chat-message {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: block;
    width: fit-content;
}
.user-message {
    background-color: #007bff;
    color: white;
    text-align: right;
    margin-left: auto;
}
.response-message {
    background-color: #eee;
    text-align: left;
    margin-right: auto;
}
.sender {
    font-size: 0.8em;
    font-weight: bold;
}
