[
  {mqttmud, [
    {broker_host, "localhost"},
    {broker_port, 1883},
    {mqtt_username, <<"dm">>},
    {mqtt_password, <<"dm">>},
    {client_id, "mqttmud"},
    {http_port, 8080},
    {emqx_api_url, "http://localhost:18083"},
    {emqx_api_user, <<"admin">>},
    {emqx_api_password, <<"admin">>},
    {posgtres_host, "localhost"},
    {posgtres_port, 5432},
    {posgtres_username, "mqttmud"},
    {posgtres_password, "mqttmud"},
    {posgtres_database, "mqttmud"}
    ]}
].
